<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fighter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EF37EE01C15CAEF006D4824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EF37EF81C15CAEF006D4824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EF37F031C15CAEF006D4824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
